/* 스타일을 추가하여 페이지를 보기 좋게 정리할 수 있습니다. */
@font-face {
font-family: 'NanumSquareNeo-Variable';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

* { font-family: 'NanumSquareNeo-Variable'; }
/* 폰트 끝 */

body { margin: 0; }
a { text-decoration: none; color: black; }

.navbar{
display: flex;
align-items: center;
justify-content: center;
background-color: lightgray;
padding: 8px 12px;
}

.nav-item{
display: flex;
list-style: none;
padding-left: 30px;
}
.navbar__menu {
display: flex;
list-style: none;
padding-left: 30px;
}
.navbar__menu li:hover {
background-color: gainsboro;
border-radius: 4px;
}

.navbar__menu li {
padding: 8px 12px;
}
.navbar__logo {
font-size: 24px;
color: white;
}
.title {
font-size: 30px;
text-align: center;
}
.theater-add{
width: 10%;
margin: auto;
border-style: solid;
border-width: thick;
border-radius: 40px;
text-align: center;
padding: 30px 60px;
}
table {
width: 70%;
border-collapse: collapse;
margin:auto;
}

th, td {
padding: 10px;
border: 1px solid #ccc;
text-align:center;
}

form {
margin-bottom: 20px;
}

input[type="text"], button {
padding: 5px;
margin-right: 10px;
}