/* 폰트 시작 */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* { font-family: 'NanumSquareNeo-Variable'; }
/* 폰트 끝 */

body { margin: 0; }
a { text-decoration: none; color: black; }

/* 네비게이션 바 시작 */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo i {
    font-size: 26px;
    color:black;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 30px;
}

.navbar__menu li:hover {
    background-color: gainsboro;
    border-radius: 4px;
}

.navbar__menu li {
    padding: 8px 12px;
}
/* 네비게이션 바 끝 */

/* 영화 목록 시작 */
.movie-list-title {
    font-size: 30px;
    text-align: center;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 20px;
}

.movie-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.movie-box {
    flex-basis: 20%;
    text-align: center;
    margin-bottom: 30px;
    padding: 15px 15px;
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 4px; /* 테두리의 둥근 모서리 설정 */
}

.movie-poster {
    position: relative;
    width: 100%;
    padding-bottom: 141.33%; /* 900x1280 비율 */
}

.poster-ratio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-title {
    font-size: 15px;
    margin-bottom: 0px;
}
/* 영화 목록 끝 */

/* 영화 버튼 시작 */
.reserve-button,
.details-button {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    transition: background-color 0.3s ease;
}

.reserve-button {
    background-color: #4CAF50;
}

.reserve-button:hover {
    background-color: #45a049;
}

.details-button {
    background-color: #008CBA;
}

.details-button:hover {
    background-color: #0076a3;
}
/* 영화 버튼 끝 */