/* 폰트 시작 */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* { font-family: 'NanumSquareNeo-Variable'; }
/* 폰트 끝 */

body { margin: 0; }
a { text-decoration: none; color: black; }

/* 네비게이션 바 시작 */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo i {
    font-size: 26px;
    color:black;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 30px;
}

.navbar__menu li:hover {
    background-color: gainsboro;
    border-radius: 4px;
}

.navbar__menu li {
    padding: 8px 12px;
}
/* 네비게이션 바 끝 */

/* 영화 목록 시작 */
.movie-list-title {
    font-size: 50px;
    text-align: center;
}

.movie-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 850px;
    margin-right: 30px;
}

.movie-box {
    display: inline-block;
    text-align: center;
    margin-left: 30px;
    border: 1px solid #ccc;
    padding: 15px;
    vertical-align: top;
}

.movie-poster img {
    width: 440px;
    height: 650px;
}

.movie-title {
    font-size: 15px;
    margin-bottom: 0px;
}
/* 영화 목록 끝 */

/* 영화 버튼 시작 */
.reserve-button,
.details-button {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    transition: background-color 0.3s ease;
}

.reserve-button {
    background-color: #4CAF50;
}

.reserve-button:hover {
    background-color: #45a049;
}

.details-button {
    background-color: #008CBA;
}

.details-button:hover {
    background-color: #0076a3;
}
/* 영화 버튼 끝 */