/* 폰트 시작 */
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* { font-family: 'NanumSquareNeo-Variable'; }
/* 폰트 끝 */

body { margin: 0; }
a { text-decoration: none; color: black; }

/* 네비게이션 바 시작 */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    color: white;
}

.navbar__logo i {
    font-size: 26px;
    color:black;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 30px;
}

.navbar__menu li:hover {
    background-color: gainsboro;
    border-radius: 4px;
}

.navbar__menu li {
    padding: 8px 12px;
}
/* 네비게이션 바 끝 */

/* 내용 작성폼 시작 */
form {
    margin: 50px auto;
    max-width: 600px;
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-row {
    display: flex;
    align-items: center; /* 수정 */
    margin-bottom: 10px;
}

form label {
    width: 120px;
    margin-right: 10px;
    text-align: right; /* 수정 */
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label.form-label {
    font-size: 14px;
}

button[type="submit"] {
    background-color: gainsboro;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: black;
    color: white;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* 이미지 삽입 폼 */
.col-12 {
    padding-top: 20px;
}

/* 상영시간 폼 조정 */
.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    width: 120px;
    margin-right: 10px;
    text-align: right;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container input[type="number"] {
    width: 70px;
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-row .input-unit {
    font-size: 14px;
    color: #888;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    width: 120px;
    margin-right: 10px;
    text-align: right;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-container input[type="text"] {
    width: 150px; /* 감독, 출연배우 입력창 너비 조정 */
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-container input[type="date"] {
    width: 140px; /* 개봉일 입력창 너비 조정 */
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* 내용 작성폼 끝 */