<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <title>비밀번호 찾기</title>
  <link rel="stylesheet" href="/css/loginstyle.css">
</head>
<body>
  <div id="con">
    <div id="login">
      <div id="login_form">
          <h3 class="login" style="letter-spacing:-1px;">비밀번호 찾기</h3>

          <hr>
          <form th:action="@{/findMyPassword}" method="post">
          <label for="userName">가입시 이용한 아이디: </label>
          <input type="userName" id="userName" name="userName" required>
            <p>아이디에 등록된 연락처로 임시 비밀번호를 전송해드립니다.</p>
            <p>
            <input type="submit" value="비밀번호 찾기" class="btn">
          </p>
            <hr>
          </form>
          <p class="find">
            <span><a href="/findMyId">아이디 찾기</a></span>
            <span><a href="/signup">회원가입</a></span>
          </p>
      </div>
    </div>
  </div>
</body>
</html>
