<!--메인페이지-->
<!--담당: -->
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
  <script src="https://kit.fontawesome.com/9cc16459ac.js" crossorigin="anonymous"></script>
  <title>영화 정보 사이트</title>
</head>
<body>

<!-- 상단바 -->
<nav class="navbar">
  <div class="navbar__logo">
    <i class="fa-solid fa-film"></i>
    <a href="">졸업시켜조</a>
  </div>

  <ul class="navbar__menu">
    <li><a th:href="@{/}">홈</a></li>
    <li><a th:href="@{/movies}">영화 목록</a></li>
    <li><a th:href="@{/movies/register}">영화 등록</a></li>
    <li><a th:href="@{/login}">로그인</a></li>
    <li><a th:href="@{/signup}">회원가입</a></li>
  </ul>
</nav>

<h2 class="movie-list-title">홈</h2>

</div>
</body>
</html>
