<!--마이페이지 페이지-->
<!--담당:이정훈 /-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/mypageStyle.css">
    <meta charset="UTF-8">
    <title>My Page</title>
</head>
<body>
<div id="con">
    <div id="mypage">
        <div id="mypage_form">
            <form method="post" action="mypageProc">
                <h1 class="mypage" style="letter-spacing:-1px;">마이페이지</h1>
                <hr>
                <label>
                <p>아이디: <span th:text="${member.username}", class="size"></span></p>
                <p>이메일: <span th:text="${member.email}", class="size"></span></p>
                </label>

              <label>
                <form th:action="@{/changePassword}" method="post">
                    <label for="currentPassword">기존 비밀번호:</label>
                    <input type="password" id="currentPassword" name="currentPassword", class="size2"><br>
                  <br>
                    <label for="newPassword">새 비밀번호:</label>
                    <input type="password" id="newPassword" name="newPassword", class="size2"><br>
                  <br>
                    <input type="submit" value="비밀번호 변경", class="btn">
                </form>
              </label>
            </form>
          <hr>
            <a th:href="@{/withdraw}" onclick="return confirm('정말로 회원 탈퇴하시겠습니까?')">회원 탈퇴</a>
        </div>
    </div>
</div>
</body>
</html>