<!--영화 리뷰 작성 페이지-->
<!--담당: 강지호-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/reviewFormStyle.css">
  <script src="https://kit.fontawesome.com/9cc16459ac.js" crossorigin="anonymous"></script>
  <title th:text="${movie.title} + ' - 리뷰 작성'">리뷰 작성</title>
</head>

<body>
<!-- 상단바 -->
<nav class="navbar">
  <div class="navbar__logo">
    <i class="fa-solid fa-film"></i>
    <a href="">졸업시켜조</a>
  </div>

  <ul class="navbar__menu">
    <li><a th:href="@{/}">홈</a></li>
    <li><a th:href="@{/movies}">영화 목록</a></li>
    <li th:if="${#request.isUserInRole('ADMIN')}">
      <a th:href="@{/movies/register}">영화 등록</a>
    </li>
    <li th:if="${session.loggedIn}"><a th:href="@{/logout}">로그아웃</a></li>
    <li th:unless="${session.loggedIn}"><a th:href="@{/login}">로그인</a></li>
    <li th:unless="${session.loggedIn}"><a th:href="@{/signup}">회원가입</a></li>
    <li th:if="${session.loggedIn}"><a th:href="@{/mypage}">마이페이지</a></li>
  </ul>
</nav>

<h2 class="movie-review-title">리뷰 작성</h2>

<div class="movie-review">
  <div class="poster" >
    <div class="movie-poster">
      <img id="movie-image" th:src="@{${'/files/' + movie.getImgName()}}" th:title="${movie.movieId}">
      <img id="image-border1" src="https://i.imgur.com/oiWnIkD.png">
      <img id="image-border2" src="https://i.imgur.com/oiWnIkD.png">
    </div>
  </div>

  <div class="review-form">
    <div class="movie-title">
      <span class="rating-img">
        <img id="rating-image" src="https://i.imgur.com/RusTUUR.png" th:alt="${movie.rating}">
      </span>
      <!--관람등급에 따라 해당하는 관람등급 이미지 불러옴-->
      <script>
          switch(document.getElementById("rating-image").alt) {
            case "전체 관람가":
              document.getElementById("rating-image").src = "https://i.imgur.com/Zj4yWzM.png";
              break;
            case "12세 이상 관람가":
              document.getElementById("rating-image").src = "https://i.imgur.com/6uLoH8S.png";
              break;
            case "15세 이상 관람가":
              document.getElementById("rating-image").src = "https://i.imgur.com/LMd9bst.png";
              break;
          }
      </script>
      <h2 th:text="${movie.title}"></h2>
    </div>

    <ul class="review-info">
      <li class="sub-info1">
        <em>관람객 평점</em>
        <strong class="ic-score">
          <em>평점</em>
          <strong th:unless="${#lists.isEmpty(reviews)}" th:text="${#numbers.formatDecimal(#aggregates.sum(reviews.![rating])*1.0 / #lists.size(reviews), 1, 1)}">7.8 </strong>
          <strong th:if="${#lists.isEmpty(reviews)}">0.0 </strong>
        </strong>
      </li>
      <li class="sub-info2">
        <em>누적리뷰수</em>
        <strong th:text="${#lists.size(reviews)}">0 </strong>
      </li>
    </ul>

    <form method="POST" th:action="@{'/movies/' + ${movie.movieId} + '/reviews/new'}">


      <h3>평점 · 감상평 작성</h3>
      <div class="rating-box">
        <div class="star-box">
          ★★★★★
          <span class="rating-star">★★★★★</span>
          <input type="range" id="rating" name="rating" value="1" step="1" min="0" max="10">
        </div>
        <div class="rating-value" >0/10</div>
      </div>
      <!--rating 범위만큼 별 색 변화-->
      <script>
          const rating_input = document.querySelector('.star-box input');
          const rating_star = document.querySelector('.rating-star');

          // 별점 드래그 할 때
          rating_input.addEventListener('input', () => {
            rating_star.style.width = `${rating_input.value * 25 + 10 * Math.floor(rating_input.value/2)}px`;
            document.querySelector('.rating-value').innerHTML=rating_input.value + "/10";
          });
      </script>


      <label for="content">리뷰 내용:</label><br>
      <div class="review-write-box">
        <textarea id="content" name="content" placeholder="평점 및 영화 감상평을 작성해주세요.
주제와 무관한 리뷰 또는 스포일러는 표시제한 또는 삭제될 수 있습니다." maxlength="250" title="감상평 작성"></textarea>
        <!--박스 높이 자동 조절-->
        <script>
            const $content = document.getElementById("content");
            $content.oninput = (evevt) => {
              $content.style.height = 0;
              $content.style.height = ($content.scrollHeight) + "px";
            };
        </script>
        <span class="byte-info">
            <strong class="byte">0</strong>/<em>250</em>
        </span>
        <!--실시간 글자수 계산-->
        <script>
          const content = document.querySelector('.review-write-box textarea');

          content.addEventListener('keyup', () => {
            if(content.value.length > 250){ content.value = content.value.slice(0, 250);}
            document.querySelector('.byte').innerHTML=content.value.length;
          });
          content.addEventListener('keydown', () => {
            if(content.value.length > 250){ content.value = content.value.slice(0, 250);}
            document.querySelector('.byte').innerHTML=content.value.length;
          });
        </script>
      </div>
      <div class="submit-button">
        <button type="submit">등록</button>
      </div>

    </form>

  </div>
</div>
</body>
</html>
