<!--회원가입 페이지-->
<!--담당:이정훈 /-->
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang = "ko">
<head><title>회원가입</title>
  <link rel="stylesheet" href="/css/signupStyle.css">
</head>
<body>
<div id="con">
  <div id="login">
    <div id="login_form"><!--회원가입 폼-->
      <form method="post" action="/signup">
        <h3 class="login" style="letter-spacing:-1px;">회원가입</h3>

        <hr>

        <!-- <span>ID</span> -->
        <label for="userName">
        <p style="text-align: left; font-size:12px; color:#666"></p>

        <input type="text" id="userName" name="userName" placeholder="아이디" class="size" required>
        <p></p>
        </label><!--아이디-->

        <label for="password">
          <!-- <span>PW</span> -->
          <p style="text-align: left; font-size:12px; color:#666"></p>
          <input type="password" id="password" name="password" placeholder="비밀번호" class="size"required>
        </label><!--비밀번호-->

        <label>
          <!-- <span>PW</span> -->
        <!-- <p style="text-align: left; font-size:12px; color:#666"> </p>
         <input type="password" placeholder="비밀번호 확인" class="size">
       </label> < !--비밀번호 확인-->
        <label>
          <!-- <span>PW</span> -->
          <p style="text-align: left; font-size:12px; color:#666"></p>
          <input type="email" id="email" name="email" placeholder="이메일" class="size" required>
        </label> <!--이메일-->

        <br>
        <p>
          <input type="submit" value="가입하기" class="btn">
        </p>
      </form>

      <hr>
      <p class="find">
        <span><a href="/login" >로그인 페이지로 이동</a></span>
      </p>
    </div>
    <div>
    </div><!--con-->
  </div>
</div>
</body>
</html>

